<div class="master-wrapper">
    <div class="top-wrapper">
        {{ appTitle }}
    </div>

    <div class="center-wrapper">
        <div class="columns-container">
            <div class="column">
                <div class="search-wrapper">
                    <search></search>
                </div>
            </div>

            <div class="column">
                <div class="player-wrapper">
                    <player></player>
                </div>
            </div>

            <div class="column">
                <div class="chat-wrapper">
                    <chat></chat>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="bottom-wrapper">
        bottom
    </div>
</div>
